.content {
    display: flex;
    flex-direction: column;
}

.content img {
    width: 100px;
}

.content > .acount > img {
    border-radius: 50%;
}

.acount {
    display: flex;
    flex-direction: row;
    
}