.content {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-left: 2rem;
}


.content > .acount > img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.acount {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;


    margin-top: 1rem;
    margin-right: 1rem;

    padding: 1rem;
    

    background: grey;
}

.acount > span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.whatNeed {
    margin-top: 1.5rem;
}


.searchBox {
    margin: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: grey;
}

.searchBox > img {
    width: 2rem;
    margin-right: 0.5rem;
}

.categorySquares {
    display: flex;
    flex-direction: row;
}

.square > img {
    width: 10rem;
}