:root {
    --color-1:#151C53;
    --color-2:#3A4AD6;

}


.navbar {
    background: var(--color-1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    flex: 1 1;
}

.logo {
  padding: 1vh;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
}

.navbar > .logo > img {
    width: 50px;
    margin-bottom: 1vh;

}
.menu  img {
    width: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    flex-wrap: wrap;

    gap: 2vh;

    margin-bottom:5vh;
    margin-left: 2vh;
    margin-right: 5vh;
}

.menu > .menu1 > ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.menu > .menu1 > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;

    padding: 0.5vh;
}

.menu > .menu2 > ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.menu > .menu2 > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2vh;

    padding: 0.5vh;
}

.menu > .menu1 > ul > li:hover {
    background: var(--color-2);
}

.menu > .menu2 > ul > li:hover {
    background: var(--color-2);
}

@media only screen and (max-width: 1259px) {
    
    body {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        height: 12vh;
        width: 100vw;
    }

    .menu {
        flex-direction: row;
    }

    .menu > .menu1 > ul {
        display: flex;
        flex-direction: row;
        gap: 1vh;
    }
    
    .menu > .menu1 > ul > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1vh;
    }
    
    .menu > .menu2 > ul {
        display: flex;
        flex-direction: row;
        gap: 1vh;

  }
    
    .menu > .menu2 > ul > li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1vh;
    }

  }
  